aiohttp==3.7.4.post0
asttokens==2.0.5
async-timeout==3.0.1
attrs==21.4.0
backcall==0.2.0
black==22.1.0
boto==2.49.0
botocore==1.23.54
cachetools==5.0.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.11
click==8.0.3
colorama==0.4.4
debugpy==1.5.1
decorator==5.1.1
discord.py==1.7.3
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.2
fake-useragent==0.1.11
greenlet==1.1.2
httplib2==0.20.4
idna==3.3
jedi==0.18.1
jmespath==0.10.0
joblib==1.1.0
lxml==4.7.1
multidict==6.0.2
multitasking==0.0.10
mypy-extensions==0.4.3
nest-asyncio==1.5.4
numpy==1.22.2
openpyxl==3.0.9
pandas==1.4.0
parso==0.8.3
pathspec==0.9.0
pickleshare==0.7.5
platformdirs==2.5.0
prompt-toolkit==3.0.27
protobuf==3.19.4
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.11.2
PyMySQL==1.0.2
pyparsing==3.0.7
python-dateutil==2.8.2
pytidylib6==0.2.2
pytz==2021.3
pyzmq==22.3.0
regex==2022.1.18
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.5.1
six==1.10.0
soupsieve==2.3.1
stack-data==0.1.4
tomli==2.0.1
tornado==6.1
traitlets==5.1.1
typing_extensions==4.0.1
uritemplate==4.1.1
urllib3==1.26.8
wcwidth==0.2.5
webencodings==0.5.1
yarl==1.7.2
yfinance==0.1.70
